img{height: 400px;
width: 400px;
position: absolute;
right: 150px;
}
h1{
    text-align: center;
    text-decoration: underline;
}
nav{
    text-align: center;
    border: 2px solid black;
    background-color: black;
}
a{
    color: lightblue;
}
.bar{
    border: 2px solid red;
    color: darkblue;
    background-color: red;
}
.bar:hover{
    background-color: white;
    border-color: white;
}
ul{
    text-align: center;
    border: 2px solid darkgreen;
    color: aliceblue;
    background-color: darkgreen;
}
article{
    text-align: center;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    background-color: bisque;
}