img{height: 200px;
width: 200px;
}
h1{
    text-align: center;
    text-decoration: underline;
}
nav{
    text-align: center;
}
ul{
    text-align: center;
}
article{
    text-align: center;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}