div{border: 2px solid yellow}
body{text-align: center;
background-color: darkgreen;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;}
img{width: 300px; 
height: 400px;} 
h1{text-decoration: underline;
color:aqua;}
h2{color: aqua;}
p{color: aqua;}
ul{color: aqua;}
li{color: aqua;}